{% extends "Layout.html" %}
{% block titulo %}
	Pantalla
{% endblock titulo %}

{% block Contenido %}
	<div ng-controller="pantalla">
		<div class="row">
			<div class="col s12">
				<div class="col s7">
					<video class="responsive-video" controls>
                      <source src="{{Video.Video.url}}" type="video/mp4">
                      <source src="{{Video.Video.url}}" type="video/ogg">
                      Tu navegador no soporta videos.
                    </video>
				</div>
				<div class="col s5">
					<div>
						<ul class="collection" style="font-size:2em;">
					      <li class="collection-item" ng-repeat="d in data" style=" padding-bottom: 40px; padding-top: 40px">
					      	<strong>Caja {$d.fields.NumeroCaja$}</strong>
					      </li>
					    </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock Contenido %}