{% extends "Layout.html" %}
{% block titulo %}
	Ticket
{% endblock titulo %}

{% block Contenido %}
<style type="text/css">
	.card-panel:hover{
		background: #009688;
		transition: background 0.3s;
	}
	.card-panel:hover > .texto{
		color: white;
		transition: background 0.3s;
	}
</style>
	<div ng-controller="ticket">
		<div class="row">
			<div class="col s12">
				<div class="row" ng-if="!Impresion"  id="opciones">
				<br>
				<div style="font-size: 4em; text-align: center"><strong>¿Que desea realizar?</strong></div>
				<br>
				<br>
					<div class="col s6 m6" ng-repeat="d in data">
						<div class="card-panel" style="cursor: pointer; text-align: center" ng-click="GenerarTicket(d)">
							<span class="texto" style="font-size: 3em;">
								{$d.fields.TipoTurno$}
							</span>
						</div>
					</div>
				</div>
				<div class="row" ng-if="Impresion" id="tiquete">
					<div style="font-size: 4em; text-align: center"><strong>Imprimiendo</strong></div>
					<div style="font-size: 12em; text-align: center"><strong>{$Turno$}</strong></div>
					<div class="row s6 offset-s3 center">
						<div class="card-panel teal darken-4" style="cursor: pointer; text-align: center" ng-click="Volver()">
							<span style="font-size: 3em; color:white">
								Volver
							</span>
						</div>
					</div>
					<div class="Ticket row s12"  id="printable">
						<div style="font-size: 4em;text-align: center"><strong>{$Turno$}</strong></div>
						<br>
						<div style="text-align: center">
							<strong>{$Entidad.fields.Nombre$}</strong><br>
							<strong>{$Entidad.fields.Direccion$}</strong><br>
							<strong>{$Entidad.fields.Tel$}</strong><br>
							<strong>{$Entidad.fields.Url$}</strong>
						</div>
					</div>
				</div>
				<!--<object ID="WebBrowser1" WIDTH="0" HEIGHT="0" 
    CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"> 
    </object>
 <A HREF="#" onClick="Print()">Print this page</a>-->
			</div>
		</div>
	</div>
{% endblock Contenido %}